<div id="painel-lateral">
    <table border="1">
        <tr>
            <td>
                <img src="/assets/images/balao_azul_grande.png">
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                <img src="/assets/images/balao_azul_grande_estourado.png">
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td colspan="2" id="cronometro">
                
            </td>
        </tr>
    </table>
    <br>
    
</div>

<div id="cenario"></div>