#cronometro {
    background: url('/assets/images/cronometro.png');
    height: 132px;
    width: 138px;
}

#cenario {
    width: 600px;
    height: 500px;
    background: url('/assets/images/cenario.png');
    float: left;
}

#painel-lateral {
    float: left;
    height: 500px;
    width: auto;
    background: #FFF;
    border: solid 1px #A2A2A2;
}